@font-face {
  font-family: "Optima Cyr Bold", serif;
  src: url("../assets/fonts/optima-cyr-bold/optima-cyr-bold.ttf") format("truetype"), url("../assets/fonts/optima-cyr-bold/optima-cyr-bold.woff") format("woff"), url("../assets/fonts/optima-cyr-bold/optima-cyr-bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Regular", sans-serif;
  src: url("../assets/fonts/roboto-regular/roboto-regular.ttf") format("truetype"), url("../assets/fonts/roboto-regular/roboto-regular.woff") format("woff"), url("../assets/fonts/roboto-regular/roboto-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Light", sans-serif;
  src: url("../assets/fonts/roboto-light/roboto-light.ttf") format("truetype"), url("../assets/fonts/roboto-light/roboto-light.woff") format("woff"), url("../assets/fonts/roboto-light/roboto-light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold", sans-serif;
  src: url("../assets/fonts/roboto-bold/roboto-bold.ttf") format("truetype"), url("../assets/fonts/roboto-bold/roboto-bold.woff") format("woff"), url("../assets/fonts/roboto-bold/roboto-bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}