@use"./fonts";
@use"./extands";
@use"./normalise";
@import"./vars";


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto Regular", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

// -----------------------------------HEADER-------------------------------------- //
@media (min-width: 769px) and (max-width: 1920px){
.header-top__wrapper {
    margin: 0 auto;
  }
  .header-top__abacus {
    background: #02BF91;
  }

  .header-top__nav{
    margin: 0 auto;
  }

  .header-top__menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 46px;
    margin: 0 auto;
  }

  .header-top__link {
    color: #ffffff;
    font-size: 11 rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: none;
  }
  .header-top-menu-part-2{
    display: flex;
    width: 100%;
    background-color: white;
    align-items: center;
    height: 72px;
    flex-wrap: nowrap;
    justify-content: space-between;

  }

  .left-part-menu-part-2{
    display: flex;
  }
  .abacus_logo {
    max-width: 210px;
    padding-left: 46px;
  }
  .centr_development {
    display:flex;
    margin: 0 auto;
    text-align: start;
    max-width: 250px;
    font-size: 1rem;
    color: gray;
    padding-left: 40px;
    vertical-align: middle;
  }

  .right-part-menu-part-2{
    display: flex;
    padding-right: 20px;
  }
  .header_mail{
    display: flex;
    padding: 8%;
    height: 50px;
  }
  .header_phone{
    display: flex;
    padding: 6%;
    height: 50px;
  }
  .oko{
    display: flex;
    padding: 8%;
    height: 50px;
  }

  .hamburger-menu{
    display: none;
  }
}

  @media (min-width: 320px) and (max-width: 768px){
    .header-top__abacus {
      display: none;
    }

    #menu__toggle {
      opacity: 0;
  }
  #menu__toggle:checked ~ .menu__btn > span {
      transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
      top: 0;
      transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
      visibility: visible;
      left: 0;
  }
  
  .menu__btn {
      display: flex;
      align-items: center;
      position: fixed;
      top: 5px;
      left: 20px; 
      width: 30px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: black;
      transition-duration: .25s;
  }
  .menu__btn > span::before {
      content: '';
      top: -8px;
  }
  .menu__btn > span::after {
      content: '';
      top: 8px;
  } 
  .menu__box {
      display: block;
      position: fixed;
      visibility: hidden;
      top: 0;
      left: -100%;
      width: 150px;
      margin: 0;
      padding-left: 15%;
      background-color: #02BF91;
  }
  .menu__box a{
      color: black;
  }
  .centr_development {
    display: none;
  }
 
  .header-top-menu-part-2{
    display: flex;
    justify-content: end;
  }
  .left-part-menu-part-2{
    display: flex;
  }
  .abacus_logo{
    max-width: 150px;
    padding-right: 50px;
    align-items: center;
  }
  .right-part-menu-part-2{
    display: flex;
  }
  .header_mail{
    display: flex;
    padding: 8%;
    height: 40px;
  }
  .header_phone{
    display: flex;
    padding: 6%;
    height: 40px;
  }
  .oko{
    display: flex;
    padding: 8%;
    height: 40px;
  }
  }


// ------------------------------------MAIN--------------------------------------- //
// -----------------------------------HISTORY------------------------------------- //
// ----------------------------------MISSION-------------------------------------- //
// ---------------------------------PRODUCTION------------------------------------ //
// -----------------------WHAT_IS_THE_USE_OF_THE_DEVICE--------------------------- //
// --------------------------------RECOMINDATION---------------------------------- //
// ---------------------------------CUSTOMERS------------------------------------- //
// -----------------------------------REVIEWS------------------------------------- //
// -----------------------------------FOOTER-------------------------------------- //