@use "./fonts";
@use "./extands";
@use "./normalise";
@import "./vars";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto Regular", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1920px;

  margin: 0 auto;
}

h2 {
  font-family: "Optima Cyr Bold", serif;
  font-weight: 700;
  font-style: normal;
}

.button {
  width: 360px;
  height: 80px;
  padding: 26px 110px 26px 110px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border-radius: 50px;
  background: $yellow;
  box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
}

// -----------------------------------HEADER-------------------------------------- //

@media (min-width: 769px) and (max-width: 1920px) {
  .header-top__wrapper {
    margin: 0 auto;
  }
  .header-top__abacus {
    background: $akvamarine;
  }

  .header-top__nav {
    margin: 0 auto;
  }

  .header-top__menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 46px;
    margin: 0 auto;
  }

  .header-top__menu a:hover {
    color: $yellow;
  }

  .header-top__link {
    color: #ffffff;
    font-size: 11 rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: none;
  }
  .header-top-menu-part-2 {
    display: flex;
    width: 100%;
    background-color: white;
    align-items: center;
    height: 72px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .left-part-menu-part-2 {
    display: flex;
  }
  .abacus_logo {
    max-width: 210px;
    padding-left: 46px;
  }
  .centr_development {
    display: flex;
    margin: 0 auto;
    text-align: start;
    max-width: 250px;
    font-size: 1rem;
    color: gray;
    padding-left: 40px;
    vertical-align: middle;
  }

  .right-part-menu-part-2 {
    display: flex;
    padding-right: 20px;
  }
  .header_mail {
    display: flex;
    padding: 10%;
    height: 50px;
  }
  .header_phone {
    display: flex;
    padding: 6%;
    height: 50px;
  }

  .hamburger-menu {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .header-top__abacus {
    display: none;
  }
  .hamburger-menu {
    display: flex;
    align-items: center;
  }

  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 5px;
    left: 20px;
    width: 30px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    padding-top: 30px;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 220px;
    margin: 0;
    padding-left: 15%;
    background-color: white;
    list-style-type: none;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .menu__box a {
    color: black;
    text-decoration: none;
  }

  .menu__box a:hover {
    color: $yellow;
  }
  .centr_development {
    display: none;
  }

  .header-top-menu-part-2 {
    display: flex;
    justify-content: end;
    padding-top: 10px;
  }
  .left-part-menu-part-2 {
    display: flex;
  }
  .abacus_logo {
    max-width: 300px;
    padding-right: 50px;
    align-items: center;
  }
  .right-part-menu-part-2 {
    display: flex;
    align-items: center;
  }
  .header_mail {
    display: flex;
    padding: 8%;
    height: 40px;
  }
  .header_phone {
    display: flex;
    padding: 6%;
    height: 40px;
  }
}

// ------------------------------------MAIN--------------------------------------- //
.banner {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
}
.conteiner_banner-image {
  display: flex;
  max-width: 1920px;
  min-height: 800px;
  background-image: url(/assets/pic/Paklin-47.png);
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: space-between;
}
.title_banner-text {
  font-family: "Optima Cyr Bold", serif;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 100px;
  margin-left: 400px;
  color: $white;
  text-align: end;
  padding-right: 100px;
}
.banner-button {
  display: flex;
  margin-top: 70px;
  justify-content: flex-end;
  padding-right: 100px;
}
.submit_banner {
  font-family: "Roboto Regular", sans-serif;
  color: $black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-size: 1.5rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 55px;
  width: 250px;
  height: 70px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: #ffffff69;
  margin-right: 50px;
}

// -----------------------------------FOR_WHO------------------------------------- //
.for_who {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
  border-bottom: 1px solid gray;
}
.for_who_block .container-fluid {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 80px;
  margin-bottom: 50px;
}

.for_who_title {
  background-color: rgb(2, 191, 145);
  color: #ffffff;
  text-align: center;
  padding: 20px;
  font-family: "Optima Cyr Bold", serif;
}

.for_who_title h2 {
  font-weight: 600;
  font-size: 3.125rem;
}

.for_who_card div {
  display: grid;
  align-items: end;
}

.for_who_card .card {
  text-align: center;
  border: none;
}

.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 103px;
}

.for_who_card {
  margin: 10px;
}

.button {
  margin: 0 auto;
}

// -----------------------------------DEVELOP------------------------------------- //
.develop {
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid gray;
}

.develop_title {
  display: flex;
  padding: 20px;
  justify-content: center;
  h2 {
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    font-family: "Optima Cyr Bold", serif;
    font-weight: 600;
    font-size: 3.125rem;
  }
}

.develop_block .container-fluid {
  padding: 0 80px;
  margin-bottom: 50px;
}

.develop_card {
  .card {
    text-align: center;
    box-shadow: 7px 6px 34px 16px rgba(182, 182, 182, 0.2);
    border-radius: 25px;
    padding: 20px 5px;
    margin: 15px;
    height: 90%;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  h5 {
    font-family: "Optima Cyr Bold", serif;
    font-weight: 600;
  }
}

// -----------------------------------HISTORY------------------------------------- //
// -----------------------------------ABOUT_US------------------------------------ //
.about_us {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  &_title {
    display: flex;
    padding: 20px;
    justify-content: center;
    h2 {
      flex-wrap: wrap;
      display: flex;
      align-content: center;
      font-family: "Optima Cyr Bold", serif;
      font-weight: 600;
      font-size: 3.125rem;
    }
  }
  .container-fluid {
    display: flex;
    padding: 30px;
    .row {
      align-items: center;
      .about_us_pic {
        display: flex;
        img {
          height: 400px;
        }
      }
      .about_us_text {
        font-size: 1.5rem;
        font-family: "Roboto bold", sans-serif;
      }
    }
  }
}
// ----------------------------------DEVICE_CHOOSE-------------------------------- //
.device_choose {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-bottom: 1px solid gray;
}
.device_choose_block {
  margin-bottom: 50px;
  margin-top: 20px;
  .container-fluid {
    margin: 30px 0px;
    padding-left: 30px;
  }
}

.device_choose_title {
  display: flex;
  padding: 20px;
  justify-content: center;
  text-align: center;
  h2 {
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    font-family: "Optima Cyr Bold", serif;
    font-weight: 600;
    font-size: 3.125rem;
  }
}
.device_choose_card {
  display: grid;
  div {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
  }
  p {
    font-size: 1.5rem;
    padding-left: 15px;
    font-family: "Roboto bold", sans-serif;
  }
  img {
    height: 30px;
  }
}

.device_choose_pic {
  display: flex;
  justify-content: center;
  img {
    height: 290px;
    display: flex;
  }
}
.device_choose_button {
  display: flex;
  justify-content: center;
  .button {
    font-size: medium;
    padding: 20px 60px;
    border-radius: 50px;
    background: $yellow;
    box-shadow: 5px 4px 5px 1px rgba(64, 67, 69, 0.37);
    height: 60px;
    width: auto;
    &:hover {
      background-color: #ffb800;
    }
    .bform {
      color: black;
      text-decoration: none;
    }
  }
}

@media (min-width: 360px) and (max-width: 570px) {
  .device_choose_card {
    p {
      font-size: 1.09rem;
    }
  }
}
// -------------------------------------ABOUT-THE-DEVICE-------------------------------------- //
.about-the-device {
  @extend %stripe;

  &__title {
    @extend %title-text;
  }
  &__video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 586px) {
  .about-the-device {
    &__video {
      display: flex;
      justify-content: center;
    }
    &__video video {
      width: 300px;
    }
  }
}
// -------------------------------------TASK-------------------------------------- //
.task {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-bottom: 1px solid gray;
}
.task_block {
  margin-bottom: 50px;
  margin-top: 20px;
  .container-fluid {
    margin: 30px 0px;
    padding-left: 30px;
  }
}

.task_title {
  display: flex;
  padding: 20px;
  justify-content: center;
  h2 {
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    font-family: "Optima Cyr Bold", serif;
    font-weight: 600;
    font-size: 3.125rem;
  }
}
.task_card {
  display: grid;
  div {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
  }
  .row {
    margin-bottom: 30px;
  }
  p {
    justify-content: center;
    font-size: 1.5rem;
    padding-left: 15px;
    font-family: "Roboto bold", sans-serif;
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    height: 70px;
  }
  img {
    height: 70px;
  }
}

.task_pic {
  display: flex;
  justify-content: center;
  img {
    height: 550px;
    display: flex;
  }
}

@media (min-width: 360px) and (max-width: 570px) {
  .task_card {
    div:first-child {
      justify-content: center;
    }
    div {
      margin: 5px 0;
    }
    img {
      height: 50px;
    }

    p {
      font-size: 1.08rem;
      height: 50px;
    }
  }
}

// -----------------------WHAT_IS_THE_USE_OF_THE_DEVICE--------------------------- //
// --------------------------------RECOMINDATION---------------------------------- //
// ---------------------------------CUSTOMERS------------------------------------- //
// -----------------------------------REVIEWS------------------------------------- //
.reviews__parents {
  @extend %stripe;
}
.reviews__teachers {
  @extend %stripe;
}

.reviews {
  &_card {
    width: 353px;
    height: 333px;
    border-radius: 22px;
    background-color: rgba(8, 79, 62, 0.1);
    border: none;
    padding: 15px;
  }
  &_title {
    @extend %title-text;
  }
}
.card-text {
  font-family: "Roboto Bold", sans-serif;
  font-size: 1.0625rem;
  text-align: center;
}

.card-wrapper {
  display: flex;
  justify-content: space-around;
}
.carousel-inner {
  padding: 40px 0;
}
.carousel-control-prev {
  width: 50px;
}
.carousel-control-next {
  width: 50px;
}
@media screen and (min-width: 1191px) and (max-width: 1920px) {
  .reviews576 {
    display: none;
  }
  .reviews1920 {
    display: block;
  }
}
@media screen and (min-width: 280px) and (max-width: 1190px) {
  .reviews {
    &_card {
      width: 353px;
      height: 380px;
      padding: 10px;
    }
  }
  .reviews1920 {
    display: none;
  }
  .reviews576 {
    display: block;
  }
  .carousel-inner {
    padding: 90px 25px;
  }

  .carousel-control-next svg {
    padding: 0;
    margin-left: 37px;
  }
  .carousel-control-prev svg {
    padding: 0;
    margin-right: 37px;
  }
}
// ---------------------------------VIDEOBLOG------------------------------------- //
.videoblog {
  @extend %stripe;
  &__title {
    @extend %title-text;
  }
  &__button {
    @extend %button_yellow;
  }
  &__link {
    text-decoration: none;
    color: $black;
    width: 436px;
    height: 87px;
    &:hover {
      color: $black;
    }
  }
}

.video {
  &_1920 {
    width: 544px;
    height: 370px;
  }
  &_576 {
    width: 488px;
  }
}
.videoblog__button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 9px 0 41px 0;
}

@media screen and (min-width: 1191px) and (max-width: 1920px) {
  .videoblog1920 {
    display: block;
  }
  .videoblog576 {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 1190px) {
  .videoblog1920 {
    display: none;
  }
  .videoblog576 {
    display: block;
  }
  .videoblog__button {
    width: 320px;
    margin-top: -90px;
  }
}
@media screen and (max-width: 575px) {
  .video {
    &_576 {
      width: 300px;
      height: 200px;
    }
  }
  .videoblog__button {
    width: 320px;
    margin-top: -100px;
  }
}
// -------------------------------------FORM-------------------------------------- //
form {
  display: flex;
}
.form-two {
  display: flex;
  flex-flow: column wrap;
  width: 100%;

  margin: 0 auto;
}
.form-two-inside {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 928px;
  column-gap: 100px;
  margin: 0 auto;
  width: 100%;
  padding-top: 30px;
}

.forh2 {
  display: flex;
  padding-top: 50px;
  flex-flow: column wrap;
}
.formp {
  margin: 0 auto;
}

.tell_with_me {
  padding-top: 10px;
  flex-wrap: wrap;
  display: flex;
  align-content: center;
  font-family: "Optima Cyr Bold", serif;
  font-weight: 600;
  font-size: 3.125rem;
  text-align: center;
}
.h2 {
  margin: 0 auto;
}
.form-inside {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

.short-form {
  display: flex;
  max-width: 400px;
  margin: 10px 2px;
  background: $grey_new;
  border-radius: 20px;
  padding-left: 20px;
  border: none;
  height: 45px;
  width: 100%;
}

.checkbox_button {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;

  .button {
    font-size: medium;
    padding: 20px 60px;
    border-radius: 50px;
    background-color: $yellow;
    box-shadow: 5px 4px 5px 1px rgba(64, 67, 69, 0.37);
    height: 60px;
    width: auto;
    &:hover {
      background-color: #ffb800;
    }
  }
}

.chekcbox {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}
.button_for_form {
  display: flex;
  margin: 0;
  padding-bottom: 50px;
  padding-top: 10px;
}

.place_for_text {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 928px;
  column-gap: 120px;
  margin: 0 auto;
  width: 100%;
  padding-top: 10px;
}
.place_for_text_inside {
  display: flex;
  max-width: 928px;
  width: 100%;
  height: 148px;
  background-color: $grey_new;
  border: none;
  border-radius: 20px;
  padding-left: 20px;
  padding-top: 10px;
}
.lebel {
  width: 100%;
}
.text_down {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}
.press_button {
  max-width: 570px;
  margin: 0 auto;
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: $yellow;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.pub {
  text-decoration: none;
  color: $dark-akvamarine;
}
.pub:hover {
  color: $yellow;
}

@media screen and (min-width: 320px) and (max-width: 1190px) {
  .form-two-inside {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 404px;
    column-gap: 100px;
    margin: 0 auto;
    width: 100%;
    padding-top: 30px;
  }

  .form {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    padding-top: 10px;
  }

  .place_for_text_inside {
    max-width: 400px;
    margin: 0 auto;
  }
}

// -----------------------------------POLITIKA------------------------------------ //
.main-for-polzovatelskoe {
  padding: 40px;
}
.zag_pol {
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
  padding-bottom: 30px;
}
.p {
  text-indent: 30px;
}
.pub_of {
  padding-top: 30px;
  padding-bottom: 30px;
}
.p_bold {
  font-weight: 700;
}
.tell_with_me {
  padding-bottom: 10px;
}
// -----------------------------------FOOTER-------------------------------------- //
.footer {
  background-color: $akvamarine;
  color: $white;
  padding-top: 44px;
  &_title {
    font-family: "Optima Cyr Bold", serif;
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 19px;
  }
  &_text {
    font-family: "Roboto Light", sans-serif;
    font-size: 14px;
  }
  a {
    text-decoration: none;
    color: $white;
  }
  a:hover {
    color: rgba($color: #084f3e, $alpha: 1);
    font-weight: 580;
  }
  ul {
    padding: 0;
    list-style-type: none;
  }
  img .icon {
    width: 24px;
    height: 24px;
  }

  &__icon-link {
    display: inline-block;
    transition: transform 1s ease;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
    }
  }
}

@media screen and (max-width: 991px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    &__contacts {
      margin: 82px 0 40px 0;
    }
    &__link {
      margin: 82px 0 0 0;
    }
  }
  #footer__contacts_block {
    order: 4;
  }
  #footer__link_block {
    order: 5;
  }
}
@media screen and (max-width: 575px) {
  .footer {
    text-align: center;
    &_title {
      font-size: 1.4375rem;
    }
    &_text {
      font-size: 1rem;
    }
    &__work {
      margin: 60px 0 0 0;
    }
    &__link {
      margin: 60px 0 0 0;
    }
    &__contacts {
      margin: 60px 0 30px 0;
    }
  }
  #footer__contacts_block {
    order: 5;
  }
  #footer__link_block {
    order: 4;
  }
}
