@font-face {
  font-family: "Optima Cyr Bold", serif;
  src: url("../assets/fonts/optima-cyr-bold/optima-cyr-bold.ttf") format("truetype"), url("../assets/fonts/optima-cyr-bold/optima-cyr-bold.woff") format("woff"), url("../assets/fonts/optima-cyr-bold/optima-cyr-bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Regular", sans-serif;
  src: url("../assets/fonts/roboto-regular/roboto-regular.ttf") format("truetype"), url("../assets/fonts/roboto-regular/roboto-regular.woff") format("woff"), url("../assets/fonts/roboto-regular/roboto-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Light", sans-serif;
  src: url("../assets/fonts/roboto-light/roboto-light.ttf") format("truetype"), url("../assets/fonts/roboto-light/roboto-light.woff") format("woff"), url("../assets/fonts/roboto-light/roboto-light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold", sans-serif;
  src: url("../assets/fonts/roboto-bold/roboto-bold.ttf") format("truetype"), url("../assets/fonts/roboto-bold/roboto-bold.woff") format("woff"), url("../assets/fonts/roboto-bold/roboto-bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.reviews__parents, .reviews__teachers {
  border-bottom: 1px solid #808080;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.conteiner {
  max-width: 1920px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto Regular", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

@media (min-width: 769px) and (max-width: 1920px) {
  .header-top__wrapper {
    margin: 0 auto;
  }
  .header-top__abacus {
    background: #02bf91;
  }
  .header-top__nav {
    margin: 0 auto;
  }
  .header-top__menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 46px;
    margin: 0 auto;
  }
  .header-top__link {
    color: #ffffff;
    font-size: 11 rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: none;
  }
  .header-top-menu-part-2 {
    display: flex;
    width: 100%;
    background-color: white;
    align-items: center;
    height: 72px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .left-part-menu-part-2 {
    display: flex;
  }
  .abacus_logo {
    max-width: 210px;
    padding-left: 46px;
  }
  .centr_development {
    display: flex;
    margin: 0 auto;
    text-align: start;
    max-width: 250px;
    font-size: 1rem;
    color: gray;
    padding-left: 40px;
    vertical-align: middle;
  }
  .right-part-menu-part-2 {
    display: flex;
    padding-right: 20px;
  }
  .header_mail {
    display: flex;
    padding: 8%;
    height: 50px;
  }
  .header_phone {
    display: flex;
    padding: 6%;
    height: 50px;
  }
  .oko {
    display: flex;
    padding: 8%;
    height: 50px;
  }
  .hamburger-menu {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .header-top__abacus {
    display: none;
  }
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 5px;
    left: 20px;
    width: 30px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 150px;
    margin: 0;
    padding-left: 15%;
    background-color: #02bf91;
  }
  .menu__box a {
    color: black;
  }
  .centr_development {
    display: none;
  }
  .header-top-menu-part-2 {
    display: flex;
    justify-content: end;
  }
  .left-part-menu-part-2 {
    display: flex;
  }
  .abacus_logo {
    max-width: 150px;
    padding-right: 50px;
    align-items: center;
  }
  .right-part-menu-part-2 {
    display: flex;
  }
  .header_mail {
    display: flex;
    padding: 8%;
    height: 40px;
  }
  .header_phone {
    display: flex;
    padding: 6%;
    height: 40px;
  }
  .oko {
    display: flex;
    padding: 8%;
    height: 40px;
  }
}
.for_who {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
}

.for_who_block .container-fluid {
  display: flex;
  flex-wrap: wrap;
}

.for_who_title {
  background-color: rgb(2, 191, 145);
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

.for_who_card div {
  display: grid;
  align-items: end;
}

.for_who_card .card {
  text-align: center;
  border: none;
}

.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 103px;
}

.for_who_card {
  margin: 10px;
}

.reviews_title {
  font-family: "Optima Cyr Bold", serif;
  text-align: center;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  margin-top: 110px;
  color: #000000;
}

.reviews_card {
  width: 353px;
  height: 333px;
  border-radius: 22px;
  background-color: rgba(8, 79, 62, 0.1);
  border: none;
  padding: 15px;
}

.card-text {
  font-family: "Roboto Bold", sans-serif;
  font-size: 1.0625rem;
  text-align: center;
}

.cards-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 90px 0;
}

.carousel-control-prev {
  padding-right: 156px;
}

.carousel-control-next {
  padding-left: 156px;
}

@media screen and (min-width: 1191px) and (max-width: 1920px) {
  .reviews576 {
    display: none;
  }
  .reviews1920 {
    display: block;
  }
}
@media screen and (min-width: 320px) and (max-width: 1190px) {
  .reviews1920 {
    display: none;
  }
  .reviews576 {
    display: block;
  }
  .carousel-control-next {
    padding: 0;
  }
  .carousel-control-prev {
    padding: 0;
  }
}
.footer {
  background-color: #02bf91;
  color: #ffffff;
  padding-top: 44px;
}
.footer_title {
  font-family: "Optima Cyr Bold", serif;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 19px;
}
.footer_text {
  font-family: "Roboto Light", sans-serif;
  font-size: 14px;
}
.footer a {
  text-decoration: none;
  color: #ffffff;
}
.footer a:hover {
  color: #084f3e;
  font-weight: 580;
}
.footer ul {
  padding: 0;
  list-style-type: none;
}
.footer img .icon {
  width: 24px;
  height: 24px;
}
.footer__icon-link {
  display: inline-block;
  transition: transform 1s ease;
  cursor: pointer;
}
.footer__icon-link:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 767px) {
  .footer__contacts {
    margin: 82px 0 40px 0;
  }
  .footer__link {
    margin: 82px 0 0 0;
  }
  #footer__contacts_block {
    order: 4;
  }
  #footer__link_block {
    order: 5;
  }
}
@media screen and (max-width: 575px) {
  .footer_title {
    font-size: 1.4375rem;
  }
  .footer_text {
    font-size: 1rem;
  }
  .footer__work {
    margin: 60px 0 0 0;
  }
  .footer__link {
    margin: 60px 0 0 0;
  }
  .footer__contacts {
    margin: 60px 0 30px 0;
  }
  #footer__contacts_block {
    order: 5;
  }
  #footer__link_block {
    order: 4;
  }
}