@font-face {
  font-family: "Optima Cyr Bold", serif;
  src: url("../assets/fonts/optima-cyr-bold/optima-cyr-bold.ttf") format("truetype"), url("../assets/fonts/optima-cyr-bold/optima-cyr-bold.woff") format("woff"), url("../assets/fonts/optima-cyr-bold/optima-cyr-bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Regular", sans-serif;
  src: url("../assets/fonts/roboto-regular/roboto-regular.ttf") format("truetype"), url("../assets/fonts/roboto-regular/roboto-regular.woff") format("woff"), url("../assets/fonts/roboto-regular/roboto-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Light", sans-serif;
  src: url("../assets/fonts/roboto-light/roboto-light.ttf") format("truetype"), url("../assets/fonts/roboto-light/roboto-light.woff") format("woff"), url("../assets/fonts/roboto-light/roboto-light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold", sans-serif;
  src: url("../assets/fonts/roboto-bold/roboto-bold.ttf") format("truetype"), url("../assets/fonts/roboto-bold/roboto-bold.woff") format("woff"), url("../assets/fonts/roboto-bold/roboto-bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.about-the-device, .reviews__parents, .reviews__teachers, .videoblog {
  border-bottom: 1px solid #808080;
}

.videoblog__button {
  width: 436px;
  height: 87px;
  border-radius: 50px;
  background-color: #FFC700;
  box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  font-family: "Roboto Bold", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.48px;
}
.videoblog__button:hover {
  background-color: #ffb800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto;
}

.conteiner {
  max-width: 1920px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto Regular", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

h2 {
  font-family: "Optima Cyr Bold", serif;
  font-weight: 700;
  font-style: normal;
}

.button {
  width: 360px;
  height: 80px;
  padding: 26px 110px 26px 110px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border-radius: 50px;
  background: #FFC700;
  box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
}

@media (min-width: 769px) and (max-width: 1920px) {
  .header-top__wrapper {
    margin: 0 auto;
  }
  .header-top__abacus {
    background: #02BF91;
  }
  .header-top__nav {
    margin: 0 auto;
  }
  .header-top__menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 46px;
    margin: 0 auto;
  }
  .header-top__link {
    color: #ffffff;
    font-size: 11 rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: none;
  }
  .header-top-menu-part-2 {
    display: flex;
    width: 100%;
    background-color: white;
    align-items: center;
    height: 72px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .left-part-menu-part-2 {
    display: flex;
  }
  .abacus_logo {
    max-width: 210px;
    padding-left: 46px;
  }
  .centr_development {
    display: flex;
    margin: 0 auto;
    text-align: start;
    max-width: 250px;
    font-size: 1rem;
    color: gray;
    padding-left: 40px;
    vertical-align: middle;
  }
  .right-part-menu-part-2 {
    display: flex;
    padding-right: 20px;
  }
  .header_mail {
    display: flex;
    padding: 8%;
    height: 50px;
  }
  .header_phone {
    display: flex;
    padding: 6%;
    height: 50px;
  }
  .oko {
    display: flex;
    padding: 8%;
    height: 50px;
  }
  .hamburger-menu {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .header-top__abacus {
    display: none;
  }
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 5px;
    left: 20px;
    width: 30px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 200px;
    margin: 0;
    padding-left: 10%;
    background-color: white;
  }
  .menu__box a {
    color: black;
  }
  .centr_development {
    display: none;
  }
  .header-top-menu-part-2 {
    display: flex;
    justify-content: end;
  }
  .left-part-menu-part-2 {
    display: flex;
  }
  .abacus_logo {
    max-width: 150px;
    padding-right: 50px;
    align-items: center;
  }
  .right-part-menu-part-2 {
    display: flex;
  }
  .header_mail {
    display: flex;
    padding: 8%;
    height: 40px;
  }
  .header_phone {
    display: flex;
    padding: 6%;
    height: 40px;
  }
  .oko {
    display: flex;
    padding: 8%;
    height: 40px;
  }
}
.banner {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
}

.conteiner_banner-image {
  display: flex;
  max-width: 1920px;
  min-height: 800px;
  background-image: url(/assets/pic/Paklin-47.png);
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: space-between;
}

.title_banner-text {
  font-family: "Optima Cyr Bold", serif;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 100px;
  margin-left: 400px;
  color: #ffffff;
  text-align: end;
  padding-right: 100px;
}

.banner-button {
  display: flex;
  margin-top: 70px;
  justify-content: flex-end;
  padding-right: 100px;
}

.submit_banner {
  font-family: "Roboto Regular", sans-serif;
  color: #000000;
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-size: 1.5rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 55px;
  width: 250px;
  height: 70px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.4117647059);
  margin-right: 50px;
}

.for_who {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
  border-bottom: 1px solid gray;
}

.for_who_block .container-fluid {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 80px;
  margin-bottom: 50px;
}

.for_who_title {
  background-color: rgb(2, 191, 145);
  color: #ffffff;
  text-align: center;
  padding: 20px;
  font-family: "Optima Cyr Bold", serif;
}

.for_who_title h2 {
  font-weight: 600;
  font-size: 3.125rem;
}

.for_who_card div {
  display: grid;
  align-items: end;
}

.for_who_card .card {
  text-align: center;
  border: none;
}

.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 103px;
}

.for_who_card {
  margin: 10px;
}

.button {
  margin: 0 auto;
}

.develop {
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid gray;
}

.develop_title {
  display: flex;
  padding: 20px;
  justify-content: center;
}
.develop_title h2 {
  flex-wrap: wrap;
  display: flex;
  align-content: center;
  font-family: "Optima Cyr Bold", serif;
  font-weight: 600;
  font-size: 3.125rem;
}

.develop_block .container-fluid {
  padding: 0 80px;
  margin-bottom: 50px;
}

.develop_card .card {
  text-align: center;
  box-shadow: 7px 6px 34px 16px rgba(182, 182, 182, 0.2);
  border-radius: 25px;
  padding: 20px 5px;
  margin: 15px;
  height: 90%;
}
.develop_card .card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.develop_card h5 {
  font-family: "Optima Cyr Bold", serif;
  font-weight: 600;
}

.device_choose {
  margin: 0 auto;
  border-bottom: 1px solid gray;
}

.device_choose_block {
  margin-bottom: 50px;
  margin-top: 20px;
}
.device_choose_block .container-fluid {
  margin: 30px 0px;
  padding-left: 30px;
}

.device_choose_title {
  display: flex;
  padding: 20px;
  justify-content: center;
}
.device_choose_title h2 {
  flex-wrap: wrap;
  display: flex;
  align-content: center;
  font-family: "Optima Cyr Bold", serif;
  font-weight: 600;
  font-size: 3.125rem;
}

.device_choose_card {
  display: grid;
}
.device_choose_card div {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}
.device_choose_card p {
  font-size: 1.5rem;
  padding-left: 15px;
  font-family: "Roboto bold", sans-serif;
}
.device_choose_card img {
  height: 30px;
}

.device_choose_pic {
  display: flex;
  justify-content: center;
}
.device_choose_pic img {
  height: 290px;
  display: flex;
}

.device_choose_button {
  display: flex;
  justify-content: center;
}
.device_choose_button .button {
  font-size: 1.2rem;
  padding: 20px 60px;
  border-radius: 30px;
  background-color: #ffd700;
  box-shadow: 5px 4px 5px 1px rgba(64, 67, 69, 0.37);
}

@media (min-width: 360px) and (max-width: 570px) {
  .device_choose_card p {
    font-size: 1.09rem;
  }
}
.about-the-device__title {
  display: flex;
  padding: 20px;
  justify-content: center;
}
.about-the-device__title h2 {
  flex-wrap: wrap;
  display: flex;
  align-content: center;
  font-family: "Optima Cyr Bold", serif;
  font-weight: 600;
  font-size: 3.125rem;
}
.about-the-device__video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 586px) {
  .about-the-device__video {
    display: flex;
    justify-content: center;
  }
  .about-the-device__video video {
    width: 300px;
  }
}
.task {
  margin: 0 auto;
  border-bottom: 1px solid gray;
}

.task_block {
  margin-bottom: 50px;
  margin-top: 20px;
}
.task_block .container-fluid {
  margin: 30px 0px;
  padding-left: 30px;
}

.task_title {
  display: flex;
  padding: 20px;
  justify-content: center;
}
.task_title h2 {
  flex-wrap: wrap;
  display: flex;
  align-content: center;
  font-family: "Optima Cyr Bold", serif;
  font-weight: 600;
  font-size: 3.125rem;
}

.task_card {
  display: grid;
}
.task_card div {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}
.task_card .row {
  margin-bottom: 10px;
}
.task_card p {
  justify-content: center;
  font-size: 1.5rem;
  padding-left: 15px;
  font-family: "Roboto bold", sans-serif;
  flex-wrap: wrap;
  display: flex;
  align-content: center;
  height: 70px;
}
.task_card img {
  height: 70px;
}

.task_pic {
  display: flex;
  justify-content: center;
}
.task_pic img {
  height: 500px;
  display: flex;
}

@media (min-width: 360px) and (max-width: 570px) {
  .task_card div:first-child {
    justify-content: center;
  }
  .task_card div {
    margin: 5px 0;
  }
  .task_card img {
    height: 50px;
  }
  .task_card p {
    font-size: 1.08rem;
    height: 50px;
  }
}

.reviews_card {
  width: 353px;
  height: 333px;
  border-radius: 22px;
  background-color: rgba(8, 79, 62, 0.1);
  border: none;
  padding: 15px;
}

.reviews_title {
  font-family: "Optima Cyr Bold", serif;
  text-align: center;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  margin-top: 110px;
  color: #000000;
}

.card-text {
  font-family: "Roboto Bold", sans-serif;
  font-size: 1.0625rem;
  text-align: center;
}

.card-wrapper {
  display: flex;
  justify-content: space-around;
}

.carousel-inner {
  padding: 90px 0;
}

.carousel-control-prev {
  width: 50px;
}

.carousel-control-next {
  width: 50px;
}

@media screen and (min-width: 1191px) and (max-width: 1920px) {
  .reviews576 {
    display: none;
  }
  .reviews1920 {
    display: block;
  }
}
@media screen and (min-width: 310px) and (max-width: 1190px) {
  .reviews_title {
    font-size: 2.5rem;
    line-height: 30px;
  }
  .reviews_card {
    width: 353px;
    height: 380px;
    padding: 10px;
  }
  .reviews1920 {
    display: none;
  }
  .reviews576 {
    display: block;
  }
  .carousel-inner {
    padding: 90px 25px;
  }
  .carousel-control-next svg {
    padding: 0;
    margin-left: 37px;
  }
  .carousel-control-prev svg {
    padding: 0;
    margin-right: 37px;
  }
}
.videoblog__title {
  font-family: "Optima Cyr Bold", serif;
  text-align: center;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 700;
  margin-top: 110px;
  color: #000000;
}
.videoblog__link {
  text-decoration: none;
  color: #000000;
  width: 436px;
  height: 87px;
}
.videoblog__link:hover {
  color: #000000;
}

.video_1920 {
  width: 544px;
  height: 370px;
}
.video_576 {
  width: 488px;
}

.videoblog__button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 62px 0 71px 0;
}

@media screen and (min-width: 1191px) and (max-width: 1920px) {
  .videoblog1920 {
    display: block;
  }
  .videoblog576 {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 1190px) {
  .videoblog1920 {
    display: none;
  }
  .videoblog576 {
    display: block;
  }
  .videoblog__button {
    width: 320px;
    margin-top: -90px;
  }
}
@media screen and (max-width: 575px) {
  .video_576 {
    width: 300px;
    height: 200px;
  }
  .videoblog__button {
    width: 320px;
    margin-top: -100px;
  }
}
form {
  display: flex;
}

.form-two {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  margin: 0 auto;
}

.form-two-inside {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 928px;
  -moz-column-gap: 100px;
       column-gap: 100px;
  margin: 0 auto;
  width: 100%;
  padding-top: 30px;
}

.forh2 {
  display: flex;
  padding-top: 50px;
  flex-flow: column wrap;
}

.form {
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  padding-top: 10px;
}

.h2 {
  margin: 0 auto;
}

.form-inside {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

.short-form {
  display: flex;
  max-width: 400px;
  margin: 10px 2px;
  background: rgba(8, 79, 62, 0.1);
  border-radius: 20px;
  padding-left: 20px;
  border: none;
  height: 45px;
  width: 100%;
}

.checkbox_button {
  display: flex;
  flex-flow: column wrap;
}

.chekcbox {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}

.button_for_form {
  display: flex;
  margin: 0;
  padding-bottom: 50px;
  padding-top: 10px;
}

.radio {
  display: flex;
}

.place_for_text {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 928px;
  -moz-column-gap: 120px;
       column-gap: 120px;
  margin: 0 auto;
  width: 100%;
  padding-top: 10px;
}

.place_for_text_inside {
  display: flex;
  max-width: 928px;
  width: 100%;
  height: 148px;
  background-color: rgba(8, 79, 62, 0.1);
  border: none;
  border-radius: 20px;
  padding-left: 20px;
  padding-top: 10px;
}

.lebel {
  width: 100%;
}

.text_down {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}

.press_button {
  max-width: 570px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 1190px) {
  .form-two-inside {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 404px;
    -moz-column-gap: 100px;
         column-gap: 100px;
    margin: 0 auto;
    width: 100%;
    padding-top: 30px;
  }
}
.main-for-polzovatelskoe {
  padding: 40px;
}

.zag_pol {
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
  padding-bottom: 30px;
}

.p {
  text-indent: 30px;
}

.pub_of {
  padding-top: 30px;
  padding-bottom: 30px;
}

.p_bold {
  font-weight: 700;
}

.tell_with_me {
  padding-bottom: 10px;
}

.footer {
  background-color: #02BF91;
  color: #ffffff;
  padding-top: 44px;
}
.footer_title {
  font-family: "Optima Cyr Bold", serif;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 19px;
}
.footer_text {
  font-family: "Roboto Light", sans-serif;
  font-size: 14px;
}
.footer a {
  text-decoration: none;
  color: #ffffff;
}
.footer a:hover {
  color: #084f3e;
  font-weight: 580;
}
.footer ul {
  padding: 0;
  list-style-type: none;
}
.footer img .icon {
  width: 24px;
  height: 24px;
}
.footer__icon-link {
  display: inline-block;
  transition: transform 1s ease;
  cursor: pointer;
}
.footer__icon-link:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 767px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__contacts {
    margin: 82px 0 40px 0;
  }
  .footer__link {
    margin: 82px 0 0 0;
  }
  #footer__contacts_block {
    order: 4;
  }
  #footer__link_block {
    order: 5;
  }
}
@media screen and (max-width: 575px) {
  .footer {
    text-align: center;
  }
  .footer_title {
    font-size: 1.4375rem;
  }
  .footer_text {
    font-size: 1rem;
  }
  .footer__work {
    margin: 60px 0 0 0;
  }
  .footer__link {
    margin: 60px 0 0 0;
  }
  .footer__contacts {
    margin: 60px 0 30px 0;
  }
  #footer__contacts_block {
    order: 5;
  }
  #footer__link_block {
    order: 4;
  }
}